@media screen and (max-width: 775px) {
  .nav-screen-right {
    display: none;
  }

}

@media screen and (max-width: 600px ) {
  #sticky-pc {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .main-nav {
    display: none;
  }


}
